




.review-container{
    width: 420px;
    font-family: 'Fasthand', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Vollkorn', serif;
    border: 1px solid rgb(206, 204, 202);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 10px 18px #c3c1c1;
    background-color: #e3dcd7;
    background-image: linear-gradient(62deg, #a69d9d 0%, #ededed 24%, #f2f2f2 49%, #ededed 75%, #c8c5c5 100%);
}
.review-container1{
    width: 420px;
    font-family: 'Fasthand', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Vollkorn', serif;
    border: 1px solid rgb(206, 204, 202);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 10px 18px #c3c1c1;
    background-color: #e3dcd7;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(62deg, #181818 0%, #6c6666 24%, #504e4e 49%, #6c6c6c 75%, #000000 100%);
}


.customers-section{
    font-family: 'Fasthand', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Vollkorn', serif;
}

.customers-section-container{
    display: flex;
}




@media only screen and (min-width: 320px) and (max-width: 480px){


    .customers-section-container{
        display: block;
    }
   
    
}

/* for tablet */

@media only screen and (min-width: 481px) and (max-width: 768px){
   
    .customers-section-container{
        display: block;
        
        
    }
    .review-container{
        width: 690px;
    }
    .review-container1{
        width: 690px;
    }
    

}

/* for desktop */
@media only screen and (min-width: 1025px) and (max-width: 1200px){

    

}