.footer-container{
    background-color: #e3dcd7;
    background-image: linear-gradient(62deg, #a69d9d 0%, #ededed 24%, #f2f2f2 49%, #ededed 75%, #c8c5c5 100%);
    font-family: 'Fasthand', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Vollkorn', serif;

}

.foot-img{

    width: 150px;
    height: 150px

}

.footer-icon{
    color: black;
    padding: 30px;
}

.contact-box{
    margin: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
   
    .contact-box{
        margin-left: 120px;
    }

    .footer-container{
          width: 55vh;
    
    }
    
}

/* for tablet */

@media only screen and (min-width: 481px) and (max-width: 768px){
   
    .contact-box{
        margin-left:  250px;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

/* for desktop */
@media only screen and (min-width: 1025px) and (max-width: 1200px){

    

}