



.advertise{
    margin-top: 250px;
    margin-bottom: 250px;
   
    background-color: #e3dcd7;
    background-image: linear-gradient(62deg, #818181 0%, #cdcaca 24%, #ffffff 49%, #c3bcbc 75%, #c8c5c5 100%);

}

.advertise-section-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
   
}

.add-img{
    height: 250px;
    width: 100px;
    border-radius: 25px;
}

.add-section{
width: 150px;
border-radius: 95px;
padding: 10px;
box-shadow: 5px 10px 18px #706c6c;
background-color: #e3dcd7;
background-image: linear-gradient(62deg, #f1ecec 0%, #ededed 24%, #e2e2e2 49%, #ededed 75%, #c8c5c5 100%);

}


@media only screen and (min-width: 320px) and (max-width: 480px){


    .advertise-section-container{
        
        grid-template-columns: repeat(1,1fr);
      
       
    }
   
    
}

/* for tablet */

@media only screen and (min-width: 481px) and (max-width: 768px){
   
    .advertise-section-container{
       
        grid-template-columns: repeat(1,1fr);
        
       
    }
    

}